.rock {
	background-color: rgb(148, 81, 81);
}
.ghost {
	background-color: rgb(247, 247, 247);
}
.electric {
	background-color: rgb(255, 255, 161);
}
.bug {
	background-color: #f6d6a7;
}
.poison {
	background-color: #e0a7f6;
}
.normal {
	background-color: #f4f4f4;
}
.fairy {
	background-color: rgba(255, 192, 203, 0.863);
}
.fire {
	background-color: #fbe3df;
}
.grass {
	background-color: #e2f9e1;
}
.water {
	background-color: #e0f1fd;
}
.card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.5rem 0;
	margin: 0.3rem;
	border: 1px solid #efefef;
	border-radius: 0.2rem;
	min-width: 160px;
	text-align: center;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}

.card-container:hover {
	border: 3px solid #000;
}

h3 {
	margin-bottom: 0.2rem;
}
.card-container .id {
	border-radius: 1rem;
	padding: 0.2rem 0.4rem;
	background-color: rgba(255, 255, 255, 0.3);
}
.card-container img {
	width: 70px;
	height: 70px;
	margin: 10px auto;
}
.card-container small {
	text-transform: capitalize;
}
.detail-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
}
