.trade {
	display: flex;
	flex-direction: column-reverse;
	text-align: center;
	padding: 2em;
	margin: 1em auto;
}

.button-wrapper {
	margin: 1em auto;
	text-align: center;
}

.history-title {
	margin-top: 1.5em;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
}

.history-container h2 {
	margin-top: 0.6em;
	font-weight: bold;
	color: #fecb3d;
}

.history-container {
	border-radius: 1em;
	margin: 0.3em;
	background-color: #436291;
}

.invalid-trade-container h2 {
	margin-top: 0.6em;
	font-weight: bold;
	color: #436291;
}

.invalid-trade-container {
	border-radius: 1em;
	margin: 0.3em;
	background-color: #fecb3d;
}
