.trade {
	display: flex;
	flex-direction: column-reverse;
	text-align: center;
	padding: 2em;
	margin: 1em auto;
}

.button-wrapper {
	margin: 1em auto;
	text-align: center;
}

.history-container {
	border-radius: 1em;
	margin: 0.3em;
	background-color: rgba(205, 50, 44, 0.5);
}
