.pokemon-container {
	width: 100vw;
	height: fit-content;
}

.selected-pokemons {
	display: flex;
	background-color: #ffffff;
	padding: 1em;
	border-radius: 1em;
	margin: 1em;
}

.instruction {
	cursor: pointer;
}

.message {
	color: black;
	font-weight: bold;
}

.total-basexp {
	width: fit-content;
	padding: 10px;
	margin: 0 auto;
	border: 2px solid #436291;
	background-color: #fecb3d;
	color: #436291;
}
